*{
    padding: 0;
    margin: 0;
}

#buttonDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}


#student_card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(12rem,12rem);
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    margin-top: 5rem;
}

#student_card div{
    height: 90%;
    width: 90%;
    padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(47, 47, 120, 0.745);
  border: 1px solid #050505;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
}

#student_card div img{
   width: 7rem;
   height: 4rem;
   border: 2px solid #050505;;
   border-radius: 1rem;
   margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    border-top: 1px solid black;
 }
 ul li{
    /* border-bottom: 1px solid black; */
    margin-bottom: 0.2rem;
    font-size: 1rem;
    height: auto;
    word-wrap: break-word;
 }
 ul li:before{
   color: rgb(225, 225, 225);
   content: " -";
 }

 @media (max-width: 768px){

    #student_card{
        grid-template-columns: repeat(2,1fr); 
    }
    ul li{
       
        font-size: 0.7rem;
        padding: 0.5rem;
     }

 }